<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
        <link href="{{ app.request.basepath }}/public/styles/main.css" rel="stylesheet" media="screen">
        <script type="text/javascript">
            var postContact = "{{ app.url_generator.generate('post_contact') }}";
        </script>
    </head>
    <body>

        <div id="main">
            <div id="header"></div>

            {% block main_container %}

            {% endblock %}

            <div id="footer"></div>
        </div>

        {% if app.debug %}
            <script src="{{ app.request.basepath }}/public/js/lib/squares.js"></script>
            <script src="{{ app.request.basepath }}/public/js/lib/sizes.js"></script>
            <script src="{{ app.request.basepath }}/public/js/lib/contact.js"></script>

            <script src="http://devserver2.com:35729/livereload.js"></script>
        {% else %}
            <script src="{{ app.request.basepath }}/public/js/build/main.min.js"></script>
        {%endif %}
    </body>
</html>
