<section id="portfolios">
    <div class="content">
        <h2>Quelques réalisations</h2>
        <div id="portfolio-content">

            <p class="warn">Pour l'ensemble de ces exemples, mon travail n'a été que le développement et l'intégration des sites.</p>
            <ul>
                {% for portfolio in portfolios %}
                    <li class="portfolio">
                        
                        <div class="preview preview-{% if loop.index is odd %}left{% else %}right{% endif %}">
                            <div class="delayed-image-portfolio" data-src="{{ app.request.basepath }}/public/img/portfolio/min/{{ portfolio['img'] }}-{width}{pixel_ratio}.png" data-alt="{{ portfolio['title']|e }}"></div>
                        </div>

                        <div class="description description-{% if loop.index is odd %}left{% else %}right{% endif %}">
                            <div class="pad">
                                <h3>{{ portfolio['title']|e }}</h3>
                                {{ portfolio['description']|raw }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="clr"></div>
        </div>
    </div>
</section>
